
#{{ ansible_managed }}
{% for fs in zfs_filesystems|default({}) %}
	{{- '\n[' }}{{ zfs_parent_fs }}/{{ fs.name | default ('')}}{{ ']' }}
	
	{%- if (fs.snapshots is defined and fs.snapshots.time is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.time is defined) %}
		{{ '\ntime = ' }}{{ fs.snapshots.time | default(zfs_snapshot_defaults.time) | default(zfs_snapshot_base_defaults.time) }}
	{%- else %}
		{{ '\ntime = ' }}{{ zfs_snapshot_base_defaults.time }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.snapshot is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.snapshot is defined) %}
		{{ '\nsnapshot = ' }}{{ fs.snapshots.snapshot | default(zfs_snapshot_defaults.snapshot) | default(zfs_snapshot_base_defaults.snapshot)}}
	{%- else %}
		{{ '\nsnapshot = ' }}{{ zfs_snapshot_base_defaults.snapshot }}
	{%- endif %}
	
	{%- if (fs.snapshots is defined and fs.snapshots.schema is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.schema is defined) %}
		{{ '\nschema = ' }}{{ fs.snapshots.schema | default(zfs_snapshot_defaults.schema) | default(zfs_snapshot_base_defaults.schema) }}
	{%- else %}
		{{ '\nschema = ' }}{{ zfs_snapshot_base_defaults.schema }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.mountpoint is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.mountpoint is defined) %}
		{{ '\nmountpoint = ' }}{{ fs.snapshots.mountpoint | default(zfs_snapshot_defaults.mountpoint) }}
	{%- else %}
		{{ '\nmountpoint = /'}}{{ zfs_parent_fs }}/{{ fs.name | default('') }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.replicate_endpoint is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.replicate_endpoint is defined) %}
		{{ '\nreplicate_endpoint = ' }}{{ fs.snapshots.replicate_endpoint | default(zfs_snapshot_defaults.replicate_endpoint) }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.replicate_target is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.replicate_target is defined) %}
		{{ '\nreplicate_target = ' }}{{ fs.snapshots.replicate_target | default(zfs_snapshot_defaults.replicate_target) }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.replicate_source is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.replicate_source is defined) %}
		{{ '\nreplicate_source = ' }}{{ fs.snapshots.replicate_source | default(zfs_snapshot_defaults.replicate_source) }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.compression is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.compression is defined) %}
		{{ '\ncompression = ' }}{{ fs.snapshots.compression | default(zfs_snapshot_defaults.compression) }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.preexec is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.preexec is defined) %}
		{{ '\npreexec = ' }}{{ fs.snapshots.preexec | default(zfs_snapshot_defaults.preexec) }}
	{%- endif %}

	{%- if (fs.snapshots is defined and fs.snapshots.postexec is defined) or (zfs_snapshot_defaults is defined and zfs_snapshot_defaults.postexec is defined) %}
		{{ '\npostexec = ' }}{{ fs.snapshots.postexec | default(zfs_snapshot_defaults.postexec) }}
	{%- endif %}
	
{% endfor %}
